/* 
    // MARK: Variables 
*/
:root {
    --primary-color: #2C3639;
    --secondary-color: #DCD7C9;
    --action-color: #FA774F;
    --action-color-hover: #FA5F36;
    --flex-direction: row;
}

/* 
    // MARK: General 
*/
h1,  h2, h3, h4, h5, h6 {
    font-family: "Amaranth", sans-serif;
    font-weight: 700;
    font-style: normal;
    flex-wrap: wrap;
}

h1, h2 {
    color: var(--secondary-color);
}

body {
    background-color: var(--primary-color);
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

section > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* 
    MARK: Bootstrap Overrides 
*/
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--action-color);
    --bs-btn-border-color: var(--action-color);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--action-color-hover);
    --bs-btn-hover-border-color: var(--action-color-hover);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--action-color);
    --bs-btn-active-border-color: var(--action-color);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--action-color);
    --bs-btn-disabled-border-color: var(--action-color);
}

/* 
    MARK: Sections 
*/
.section {
    margin-top: 20px;
    margin-bottom: 20px;
}

.section-boxed {
    width: 100%;
    padding: 20px;
    border-radius: 12px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    margin-top: 20px;
    margin-bottom: 20px;
}

.section-boxed footer {
    margin-top: 20px;
}

.section-boxed h2 {
    color: var(--primary-color);
}

.section-boxed p {
    margin-bottom: 0px;
}

.roundedImage {
    border: 4px solid #DCD7C9;
    border-radius: 50%;
    float: left;
}

/* 
    MARK: Projects 
*/
.projects {
    display: flex;
    flex-direction: var(--flex-direction);
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    padding: 20px;
    border-radius: 12px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.project img {
    width: 100%;
    margin-bottom: 20px;
    border: 2px solid var(--primary-color);
    border-radius: 12px;
}

/* 
    MARK: Responsiveness 
*/
@media (max-width: 800px) {
    :root {
        --flex-direction: column;
    }
}