h1 {
    font-family: "Amaranth", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #DCD7C9;
}

p {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.roundedImage {
    border: 4px solid #DCD7C9;
    border-radius: 50%;
}

.box {
    color: #2C3639;
    background-color: #DCD7C9;
    padding: 20px;
    border-radius: 12px;
    margin: 20px;
}

html {
    background-color: #2C3639;
}

.headline {
    margin-left: 25%;
    width: 50%;
}
